a.siteTitle, a.siteTitle:hover, a.siteTitle:visited {
  color: #0c5ab2;
}
.site-branding {
  position: relative;
  width: 100%;
}
.contain-jumbo {
  margin: auto;
  height: 550px;
}
.jumbotron {
  position: absolute;
  z-index: 0;
}
@media screen and (max-width: 1200px) {
.jumbotron img {
  max-width: 1100px;
 }
}
@media screen and (max-width: 992px) {
  .jumbotron img {
  max-width: 900px;
 }
}
@media screen and (max-width: 600px) {
  .jumbotron img {
    max-width: 500px;
  }
}
div.previous {
  z-index: 1;
}
div.current {
  z-index: 2;
}
br.clear {
  clear: both;
}
.title-wrap{
  position: relative;
  width: 100%;
  margin: 0 5em 0;
}
.main-titles  {
  position: absolute;
  z-index: 5;
  bottom: 0;
  top: 50px;
  left: 50px;
}
.tweets-help {
  float: left;
  max-width: 800px;
}
.tweets-help ul li a {
  padding: 0 1em 0 1em;
}
.tweets-help ul li {
  list-style-type: none;
}
.tweets-help li {
  padding: 2em auto 1em 0;
  margin: 1em;
}
.tweets-help ul li img {
float: left;
}