a.siteTitle, a.siteTitle:hover, a.siteTitle:visited {
  color: #0c5ab2;
}
.contain-jumbo {
  margin: auto;
  width: 1200px;
  height: 500px;
}
.jumbotron {
  position: absolute;
  z-index: 0;
  background-color: transparent;
}
div.previous {
  z-index: 1;
}
div.current {
  z-index: 2;
}
br.clear {
  clear: both;
}
.main-titles  {
  display: block;
  position: relative;
}
